<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.community.dao.ClaimDAO">
  	
	<!-- ||| Claim 게시글 쿼리문 ||| -->
	
	<!-- sql 저장 : 전체 조회 -->
  	<sql id="selectAll_claim">
		SELECT claim_no, claim_title, claim_content, claim_type,
				user_id, user_emailID, user_emailDomain,
				user_phone1, user_phone2, user_phone3,
				to_char(claim_date, 'yy-mm-dd') as claim_date, claim_store,
				file_type, view_cnt, to_char(reg_at, 'yy-mm-dd') as reg_at
		FROM t_claim
	</sql>
	
  	<!-- DB t_claim와 ClaimBoardVO의 변수와 맞지 않으므로 mapping  -->
  	<resultMap type="claimVO" id="Map_claimVO">
  		<result column="claim_no" property="no"/>
  		<result column="claim_title" property="title"/>
  		<result column="claim_content" property="content"/>
  		<result column="claim_type" property="type"/>
  		<result column="user_id" property="writer"/>
  		<result column="user_emailID" property="emailID"/>
  		<result column="user_emailDomain" property="emailDomain"/>
  		<result column="user_phone1" property="phone1"/>
  		<result column="user_phone2" property="phone2"/>
  		<result column="user_phone3" property="phone3"/>
  		<result column="claim_date" property="visitDate"/>
  		<result column="claim_store" property="visitStore"/>
  		<result column="file_type" property="fileOX"/>
  		<result column="view_cnt" property="viewCnt"/>
  		<result column="reg_at" property="regDate"/>
  	</resultMap>
	
	<!-- 전체 Claim 게시글 조회 -->
	<select id="selectAllClaim" resultMap="Map_claimVO">
		<include refid="selectAll_claim"/>
		ORDER BY claim_no DESC
	</select>
	
	<!-- 글번호별 Claim 게시글 조회 -->
	<select id="selectOneClaim" parameterType="int" resultMap="Map_claimVO" >
		<include refid="selectAll_claim"/>
		WHERE claim_no = #{no}
	</select>
	
	<!-- Claim 글 등록 -->
	<insert id="insertClaim" parameterType="claimVO" useGeneratedKeys="true" keyProperty="claim_no">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT seq_t_claim_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO t_claim(claim_no, claim_title, claim_content, claim_type,
							user_id, user_emailID, user_emailDomain,
							user_phone1, user_phone2, user_phone3,
							claim_date, claim_store, file_type)
		VALUES(#{no}, #{title}, #{content}, #{type}, #{file, jdbcType=VARCHAR},
				#{writer}, #{emailID}, #{emailDomain},
				#{phone1}, #{phone2}, #{phone3},
				#{visitDate, jdbcType=DATE}, #{visitStore, jdbcType=VARCHAR}, #{fileOX})
	</insert>
	
	<!-- Claim 글 수정 -->
	<update id="modifyClaim" parameterType="claimVO">
		UPDATE t_claim
		SET claim_title = #{title}, claim_content = #{content}, claim_type = #{type},
			user_emailID = #{emailID}, user_emailDomain = #{emailDomain},
			user_phone1 = #{phone1}, user_phone2 = #{phone2}, user_phone3 = #{phone3},
			claim_date = #{visitDate}, claim_store = #{visitStore},
			file_type = #{fileOX}, reg_at = #{regDate}
		WHERE claim_no = #{no}
	</update>
	
	<!-- Claim fileOX : O - 파일있음 -->
	<update id="updateFileOX_O" parameterType="int">
		UPDATE t_claim
		SET file_type = <![CDATA[ 'O' ]]>
		WHERE claim_no = #{no}
	</update>
	
	<!-- Claim fileOX : X - 파일없음 -->
	<update id="updateFileOX_X" parameterType="int">
		UPDATE t_claim
		SET file_type = <![CDATA[ 'X' ]]>
		WHERE claim_no = #{no}
	</update>
	
	<!-- Claim 글 삭제 -->
	<delete id="removeClaim" parameterType="int" >
		DELETE FROM t_claim
		WHERE claim_no = #{no}
	</delete>
	
	<!-- Claim 다중 삭제 -->
	<delete id="removeClaimSome" parameterType="java.util.List">
		DELETE FROM t_claim
		WHERE claim_no IN
			<foreach item="item" index="index" collection="list" open="(" close=")" separator="," >
       			#{item}
 			</foreach>
	</delete>
	
	<!-- Claim 조회수 증가 -->
	<update id="updateViewcntClaim" parameterType="int">
        UPDATE t_claim
        SET view_cnt = view_cnt + 1
        WHERE claim_no = #{no}
    </update>
    
    <!-- id에 맞는 claim 목록 가져오기 -->
    <select id="selectClaim" resultMap="Map_claimVO" parameterType="java.lang.String">
		<include refid="selectAll_claim"/>
		where user_id = #{id}
		ORDER BY claim_no DESC
	</select>
</mapper>