<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.dao.FileDAO">
  	
	<!-- ||| File 게시글 쿼리문 ||| -->
	
	<!-- sql 저장 : 전체 조회 -->
  	<sql id="selectAll_file">
		SELECT file_no, borad_no, file_name, file_ori, file_save, 
				file_size, file_path, file_type
		FROM t_file
	</sql>
	
  	<!-- DB t_file와 FileVO의 변수와 맞지 않으므로 mapping  -->
  	<resultMap type="fileVO" id="Map_fileVO">
  		<result column="file_no" property="no"/>
  		<result column="borad_no" property="boardNo"/>
  		<result column="file_name" property="name"/>
  		<result column="file_ori" property="fileOriName"/>
  		<result column="file_save" property="fileSaveName"/>
  		<result column="file_size" property="fileSize"/>
  		<result column="file_path" property="filePath"/>
  		<result column="file_type" property="contentType"/>
  	</resultMap>
	
	<!-- 전체 File 조회 -->
	<select id="selectAllFile" resultMap="Map_fileVO">
		<include refid="selectAll_file"/>
	</select>
	
	<!-- 번호별 File 조회 -->
	<select id="selectOneFile" parameterType="int" resultMap="Map_fileVO" >
		<include refid="selectAll_file"/>
		WHERE borad_no = #{boardNo}
	</select>
	
	<!-- File 등록 -->
	<insert id="insertFile" parameterType="fileVO">
		INSERT INTO t_file(file_no, borad_no, file_name, 
						file_ori, file_save, file_size, file_path, file_type)
		VALUES(seq_t_file_no.nextval, #{boardNo}, #{name}, 
				#{fileOriName}, #{fileSaveName}, #{fileSize}, #{filePath}, #{contentType})
	</insert>
	
	<!-- File 수정 -->
	<update id="modifyFile" parameterType="fileVO">
		UPDATE t_file
		SET file_name = #{name}, file_ori = #{fileOriName}, file_save = #{fileSaveName}, 
			file_size = #{fileSize}, file_path, = #{filePath}, file_type = #{contentType}
		WHERE borad_no = #{boardNo}
	</update>
	
	<!-- File 삭제 -->
	<delete id="removeFile" parameterType="int" >
		DELETE FROM t_file
		WHERE borad_no = #{boardNo}
	</delete>
	
	<!-- File 다중 삭제 -->
	<delete id="removeFileSome" parameterType="java.util.List">
		DELETE FROM t_file
		WHERE borad_no IN
			<foreach item="item" index="index" collection="list" open="(" close=")" separator="," >
       			#{item}
 			</foreach>
	</delete>
</mapper>