<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO에서 sql문 불러 올 때 사용해야 하는 이름 -->
<mapper namespace="kr.co.bit.member.dao">

	<resultMap type="managerVO" id="mapSignVO">
		<result column="user_id" property="id"/>
		<result column="user_pw" property="pw"/>
		<result column="user_name" property="name"/>
		<result column="user_email" property="email"/>
		<result column="user_phone" property="phone"/>
		<result column="user_birth" property="birth"/>
		<result column="user_grade" property="grade"/>
		<result column="user_type" property="type"/>
		<result column="user_pic" property="file"/>
	</resultMap>
	
	<!-- sql문 적는 공간 -->

	<!-- 관리자 등록 -->
	<insert id="signUp" parameterType="managerVO" >
		insert into t_manager(manager_no, manager_id, manager_name, manager_pw, manager_phone, manager_branch)
		values(seq_t_user_no.nextval, #{id}, #{name}, #{pw}, #{pw}, #{phone}, #{branch})
	</insert>

</mapper>