<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO에서 sql문 불러 올 때 사용해야 하는 이름 -->
<mapper namespace="kr.co.bit.manager.dao">

	<resultMap type="managerVO" id="mapSignVO">
		<result column="manager_id" property="id"/>
		<result column="manager_pw" property="pw"/>
		<result column="manager_name" property="name"/>
		<result column="manager_phone" property="phone"/>
		<result column="manager_post1" property="post1"/>
		<result column="manager_post2" property="post2"/>
		<result column="manager_addr1" property="addr1"/>
		<result column="manager_addr2" property="addr2"/>
		<result column="manager_branch" property="branch" />
	</resultMap>
	
	<!-- 공통으로 사용하는 부분 -->
	<sql id="selectManager">
		select manager_no, manager_name, manager_id, manager_pw, manager_phone, manager_post1, manager_post2, manager_addr1, manager_addr2, manager_branch
		from t_manager
	</sql>
	
	<!-- sql문 적는 공간 -->

	<!-- 지점 확인 -->
	<select id="branchCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
		select NVL(count(*), 0) from t_manager
		where manager_addr2 like '%' || #{branch} || '%'
	</select>
	
	<!-- 관리자 등록 -->
	<insert id="signUp" parameterType="managerVO" >
		insert into t_manager(manager_no, manager_name, manager_id, manager_pw, manager_phone, manager_post1, manager_post2, manager_addr1, manager_addr2, manager_branch)
		values(seq_t_user_no.nextval, #{name}, #{id}, #{pw}, #{phone}, #{post1}, #{post2}, #{addr1}, #{addr2}, #{branch})
	</insert>

	<!-- 아이디랑 pw 맞는지 확인 -->	
	<select id="loginCheck" parameterType="managerVO" resultType="java.lang.Integer" >
		select NVL(count(*), 0) from t_manager
		where manager_id = #{id} and manager_pw = #{pw}
	</select>
	
	<!-- 로그인 -->
	<select id="login" parameterType="managerVO" resultMap="mapSignVO">
		<include refid="selectManager"/>
		where manager_id = #{id} and manager_pw = #{pw}
	</select>
	
	<!-- 이름과 id와 일치하는 pw 있는지 확인 -->
	<select id="lostPwCheck" parameterType="managerVO" resultType="java.lang.Integer">
		select NVL(count(*), 0) from t_manager
		where manager_name = #{name} and manager_id = #{id}
	</select>
	
	<!-- pw 찾기  -->
	<select id="lostPw" parameterType="managerVO" resultMap="mapSignVO">
		select manager_id, manager_name from t_manager
		where manager_name = #{name} and manager_id = #{id}
	</select>

	<!-- pw 찾은 수 임시 비밀번호로 수정 -->
	<update id="pwUpdate" parameterType="managerVO">
		update t_manager
		set manager_pw = #{pw}
		where manager_id = #{id} and manager_name = #{name}
	</update>
</mapper>