<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.dao.NoticeDAO">
  	
	<!-- ||| Notice 게시글 쿼리문 ||| -->
	
	<!-- sql 저장 : 전체 조회 -->
  	<sql id="selectAll_notice">
		SELECT notice_no, notice_writer, notice_title, notice_content, 
				notice_type, file_type, view_cnt, to_char(reg_at, 'yy-mm-dd') as reg_at
		FROM t_notice
	</sql>
	
  	<!-- DB t_notice와 NoticeBoardVO의 변수와 맞지 않으므로 mapping  -->
  	<resultMap type="noticeVO" id="Map_noticeVO">
  		<result column="notice_no" property="no"/>
  		<result column="notice_writer" property="writer"/>
  		<result column="notice_title" property="title"/>
  		<result column="notice_content" property="content"/>
  		<result column="notice_type" property="type"/>
  		<result column="file_type" property="fileOX"/>
  		<result column="view_cnt" property="viewCnt"/>
  		<result column="reg_at" property="regDate"/>
  	</resultMap>
	
	<!-- 전체 Notice 게시글 조회 -->
	<select id="selectAllNotice" resultMap="Map_noticeVO">
		<include refid="selectAll_notice"/>
		ORDER BY notice_no DESC
	</select>
	
	<!-- 타입별 전체 게시글 조회 -->
	<select id="selectType" parameterType="java.lang.String" resultMap="Map_noticeVO">
		<include refid="selectAll_notice"/>
		WHERE notice_type = #{type}
		ORDER BY notice_no DESC
	</select>
	
	<!-- 글번호별 Notice 게시글 조회 -->
	<select id="selectOneNotice" parameterType="int" resultMap="Map_noticeVO" >
		<include refid="selectAll_notice"/>
		WHERE notice_no = #{no}
	</select>
	
	<!-- Notice 글 등록 -->
	<insert id="insertNotice" parameterType="noticeVO" useGeneratedKeys="true" keyProperty="notice_no">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			SELECT seq_t_notice_no.nextval FROM DUAL
		</selectKey>
		INSERT INTO t_notice(notice_no, notice_writer, notice_title, notice_content,
						notice_type, file_type)
		VALUES(#{no}, #{writer}, #{title}, #{content}, #{type}, #{fileOX})
	</insert>
	
	<!-- Notice 글 수정 -->
	<update id="modifyNotice" parameterType="noticeVO">
		UPDATE t_notice
		SET notice_title = #{title}, notice_content = #{content}, 
			notice_type = #{type}, file_type = #{fileOX}, reg_at = #{regDate}
		WHERE notice_no = #{no}
	</update>
	
	<!-- Notice fileOX : O - 파일있음 -->
	<update id="updateFileOX_O" parameterType="int">
		UPDATE t_notice
		SET file_type = <![CDATA[ 'O' ]]>
		WHERE notice_no = #{no}
	</update>
	
	<!-- Notice fileOX : X - 파일없음 -->
	<update id="updateFileOX_X" parameterType="int">
		UPDATE t_notice
		SET file_type = <![CDATA[ 'X' ]]>
		WHERE notice_no = #{no}
	</update>
	
	<!-- Notice 글 삭제 -->
	<delete id="removeNotice" parameterType="int" >
		DELETE FROM t_notice
		WHERE notice_no = #{no}
	</delete>
	
	<!-- Notice 다중 삭제 -->
	<delete id="removeNoticeSome" parameterType="java.util.List">
		DELETE FROM t_notice
		WHERE notice_no IN
			<foreach item="item" index="index" collection="list" open="(" close=")" separator="," >
       			#{item}
 			</foreach>
	</delete>
	
	<!-- Notice 조회수 증가 -->
	<update id="updateViewcntNotice" parameterType="int">
        UPDATE t_notice
        SET view_cnt = view_cnt + 1
        WHERE notice_no = #{no}
    </update>
    
    <!-- 메인 화면에 Notice 보여 줌 -->
    <select id="selectNoticeMain" resultMap="Map_noticeVO">
    	select notice_no, notice_writer, notice_title, notice_content, notice_type, file_type, view_cnt, to_char(reg_at, 'yy-mm-dd') as reg_at 
    	from (select * from t_notice order by reg_at desc)
    	<![CDATA[
		where rownum <=5
 		]]>
    </select>
</mapper>