<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bit.dao.OrderManagementDAO">
	
	<sql id = "selectAll">
		select order_no, sto_name, user_id, order_orderPrice, order_finalPrice, order_menu, 
		order_eat_type, order_payment, order_status, to_char(reg_at, 'yyyy-mm-dd hh24:mi:ss') as reg_at 
		from t_order
	</sql>

	<resultMap type ="orderVO" id="Map_OrderVO">
  		<result column = "order_no" property ="no"/>
  		<result column = "sto_name" property ="storeName"/>
  		<result column = "user_id" property ="id"/>
  		<result column = "order_orderPrice" property ="order_price"/>
  		<result column = "order_finalPrice" property ="final_price"/>
  		<result column = "order_menu" property ="menu"/>
  		<result column = "order_eat_type" property ="eatType"/>
  		<result column = "order_payment" property ="payment"/>
  		<result column = "order_status" property ="orderStatus"/>
  		<result column = "reg_at" property ="regDate"/>
  	</resultMap>
	

	<select id="selectAllOrder" parameterType="String" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where sto_name = #{branch}
  	</select>
  	
  	<select id="selectByDate" parameterType="java.util.Map" resultMap="Map_OrderVO">
  		<include refid="selectAll"/>
  		where  to_char(reg_at, 'yyyy-mm-dd') between #{dateStart} and #{dateEnd} and sto_name = #{branch}
  	</select>
	
	<select id="selectByToday" parameterType="java.util.Map" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where to_char(reg_at, 'yy/mm/dd') = #{today} and sto_name = #{branch}
		order by order_no desc
  	</select>
	
	<select id="selectByNo"  parameterType="java.util.Map" resultMap="Map_OrderVO">
		<include refid="selectAll"/>
		where order_no = #{no} and sto_name = #{branch}
  	</select>
  	
	<select id="selectByOrderStatus" parameterType="String" resultMap="Map_OrderVO">
		select  order_no, sto_name, user_id, order_orderPrice, order_finalPrice, order_menu, 
		order_eat_type, order_payment, order_status, to_char(reg_at, 'DY HH24:MI:SS') as reg_at
		
		from ( select *  from t_order where sto_name = #{branch} order by order_no asc)
		
		where order_status in (1, 2) <![CDATA[ AND ROWNUM <= 4 ]]>
  	</select>	  		
  	
  	<select id = "selectAddOneOrder" parameterType="String" resultMap="Map_OrderVO">
  		select  order_no, sto_name, user_id, order_orderPrice, order_finalPrice, order_menu, 
		order_eat_type, order_payment, order_status, to_char(reg_at, 'DY HH24:MI:SS') as reg_at
		
		from ( select *  from t_order  where sto_name = #{branch} order by order_no asc)
		
		where order_status = 1 <![CDATA[ AND ROWNUM <= 1 ]]>
  	</select>	
  		
	<!-- 주문준비 -->
	<update id="updateOrderStatus" parameterType="String">
		update t_order
		set order_status = 2
		where rowid in (select rowid from (select rowid, row_number() over(order by order_no asc) rn, order_no
		from (select * from t_order where order_status in (1,2)and sto_name = #{branch}  )) where <![CDATA[  rn <= 4 ]]>)
	</update>
	
	<!-- 추가되는 주문 상태변경 -->
	<update id="updateAddOneOrderSataus" parameterType="String">
		update t_order
		set order_status = 2
		where rowid in (select rowid from (select rowid, row_number() over(order by order_no asc) rn, order_no
		from (select * from t_order where order_status = 1 and sto_name = #{branch})) where <![CDATA[  rn <= 1 ]]>)
	</update>
	
	
		<!-- 쥬문취소 -->
	<update id="cancelOrder" parameterType="java.util.Map">
		update t_order set order_status = 0 where order_no = #{no} and sto_name = #{branch}
	</update>

	<!-- 주문완료 -->
	<update id="completeOrder" parameterType="java.util.Map">
		update t_order set order_status = 3 where order_no = #{no} and sto_name = #{branch}
	</update>
	
</mapper>
