@CHARSET "UTF-8";


 td .button-cancel {
 	font-size : 10px;
 	padding: 3px 8px;
 }
 
 .todayOrderInfo .row .form-group label {
 	font-size: 20px;
 }
 
 th{
 	text-align: center !important;
 }