@CHARSET "UTF-8";


 td.cancel-button button.button-cancel {
 	font-size : 10px !important;
 	padding: 3px 8px !important;
 }
 
 .todayOrderInfo .row .form-group label {
 	font-size: 20px;
 }
 
.float-right {
	float: right;
}
.float-left {
	float: left;
}
 th{
 	text-align: center !important;
 }
