<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.co.bit.vo.MenuVO" alias="menuVO"/>
		<typeAlias type="kr.co.bit.vo.CityVO"  alias="cityVO"/>
	  	<typeAlias type="kr.co.bit.vo.locationVO"  alias="locationVO"/>
	  	<typeAlias type="kr.co.bit.vo.StoreVO"  alias="storeVO"/>
	  	<typeAlias type="kr.co.bit.vo.EventBoardVO" alias="eventVO"/>
	  	<typeAlias type="kr.co.bit.vo.PagingVO" alias="pagingVO"/>
	  	<!-- Community -->
	  	<typeAlias type="kr.co.bit.vo.QnaBoardVO" alias="qnaVO"/>
	  	<typeAlias type="kr.co.bit.vo.NoticeBoardVO" alias="noticeVO"/>
	  	<typeAlias type="kr.co.bit.vo.ClaimBoardVO" alias="claimVO"/>
	  	<typeAlias type="kr.co.bit.vo.SnsBoardVO" alias="snsVO"/>
	  	<typeAlias type="kr.co.bit.vo.FileVO" alias="fileVO"/>
	  	<!-- 관리자 회원가입 -->
	  	<typeAlias type="kr.co.bit.vo.ManagerVO" alias="managerVO"/>
	  	<typeAlias type="kr.co.bit.vo.UserVO" alias="userVO"/>
	  	<typeAlias type="kr.co.bit.vo.OrderVO" alias="orderVO"/>
	</typeAliases>
</configuration>