<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="kr.co.bit.vo.MenuVO" alias="menuVO"/>
		<typeAlias type="kr.co.bit.vo.CityVO"  alias="cityVO"/>
	  	<typeAlias type="kr.co.bit.vo.locationVO"  alias="locationVO"/>
	  	<typeAlias type="kr.co.bit.vo.StoreVO"  alias="storeVO"/>
	  	<typeAlias type="kr.co.bit.vo.EventBoardVO" alias="eventVO"/>
	  	<typeAlias type="kr.co.bit.vo.PagingVO" alias="pagingVO"/>
	</typeAliases>
</configuration>